@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
  --bg-color: #111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-base);
}

